.miFoto{
    width: 27%;
    height: 27%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.nombreTrabajo{
    margin-top: 40px;
    margin-left: 30px;
    text-shadow: 3px 3px 1px powderblue;
}

.linea{
    border-top: 2px solid antiquewhite;
    width: 90%;
    margin-top: -10px;
}

img{
    margin-right: 16px;
}

.imagenes{
    margin-right: 0px;
    margin-bottom: 0px;
}

header,section{
    width: 50%;
    margin: 0 auto;
    background-color: powderblue;
}

progress{
   margin-left: 8px; 
}

header{
    display: flex;
    background-color: antiquewhite;
}

section{
    display: flex;
}

article{
    width: 50%;
}

aside{
    width: 50%;
}

#divCabecera{
    margin: 20px 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#experiencia{
    list-style-type: circle;
}

.skills{
    display: flex;
    margin-left: 30px;
}

.tutulo{
    margin-left: 20px;
}

.nombre{
    margin-left: 35px;
}

.tutulo:hover{
    color: antiquewhite;
}

@media screen and (max-width: 1000px) {
    header{
        width: 98%;
    }
    section{
        width: 98%;
    }
    .miFoto{
        width: 40%;
        height: 27%;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
    }
}

@media screen and (max-width: 700px){
    header{
        width: 98%;
    }
    section{
        width: 98%;
        display: block;
        
    }
    .miFoto{
        width: 40%;
        height: 27%;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
    }

    article{
        width: 98%;
    }

    aside{
        width: 98%;
    }
}